* {
    padding: 0;
    margin: 0;    
}

body {
    background-image: url('headerBG.png');
}

header {      
    color: black;      
    font-size: larger;
    background-image: url('headerBG2.png');    
}

main{
    scroll-behavior: auto;
}

footer {
    color: white;
    text-align: right;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 1em;
}

article{
    padding: 1em 1em 1em 1em;
}

input{
    margin-top: 1em;    
    height: 2em;
    font-size: larger;
    color: #220E3F;
    padding-left: 1em;
    padding-right: 1em;
    border: 0;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.name{
    width: 14em;
}

.image-profile{
    width: 2em;  
}

.sangria{
    padding-left: 2em;
}
.sangriaLista{
    padding-left: 3em;
}

.contenedor{
    background-color: black;
    margin: 2em 2em 2em 2em;
    padding: 1em 1em 1em 1em;
    font-size: larger;
    opacity: 0.5;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    box-shadow: 0.3em 0.3em 0.8em 0.8em black;
    -webkit-box-shadow:  0.3em 0.3em 0.8em 0.8em black;    
    color: white;
}

.contenedor:hover{
    opacity: 0.8;
}

.contenedor:focus{
    opacity: 0.8;
}

.padingTextHeader{
    padding: 5em 1em 1em 1em;
    align-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.ancho1{
    flex-grow: 1;
}

.ancho2{
    flex-grow: 2;
}

.imgPerfil{
    text-align: center;
}

.contenedorBotonContacto{
    padding-top: 13.5em;
    padding-inline-end: 2em;
    text-align: right;
}

.botonContacto{
    color: darkblue;
    font-size: larger;
    height: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    background-color: cyan;
    border-color: aquamarine;
    font-weight: bold;
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.botonContacto:hover{
    color: blue;
    background-color: darkturquoise;
    border-color: cyan;    
}

.botonFormularios{
    font-size: larger;
    color: white;
    background-color: rgb(0, 128, 0);
    border-color: rgb(0, 128, 0);
    border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
}

.botonFormularios:hover{    
    background-color: rgb(2, 114, 2);
    border-color: rgb(2, 114, 2);
}

.sinBordes{
    border: 0;
}
